*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
/* navation part */
nav
{
display: flex;
justify-content: space-between;
height: 50px;
background-color: #131313;
padding: 0px 100px;
line-height: 50px;
border-bottom: 3px solid #FFB321;
position:sticky;
top: 0px;
z-index: 100;
}
nav ul li
{
	list-style: none;
	display: inline-block;
	margin: 0px 20px;
}

nav ul li a
{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
nav ul li a:hover
{
	color: #FFB321;
	text-decoration: underline;
}
nav h2
{
	color: white;
	letter-spacing: 1px;
}
nav h2:hover
{
	color: #FFB321;
}
.heading
{
color: #FFB321;
}
nav .icon
{
color: white;
font-size: 20px;
display: none;
}
#checkbtn
{
	display: none;

}
/* .btnav
{
	text-decoration: none;
	border-radius: 25px;
	color: #ffb321;
	background-color: transparent;
	font-weight:bold;
	border: 2px solid #ffb321;
	padding: 0px 10px;
	text-align: center;
}
.btnav:hover
{
	background-color: #ffb321;
	color: black;	 
} */

/*responsive navbar*/
@media only screen and (max-width :420px)  
{
nav .icon
{
	line-height: 50px;
}
nav
{
	padding: 0px 20px;
	font-size: 20px;
}
nav ul
{
	position: absolute;
	top: 50px;
	background-color: #FFB321;
	width: 50%;
	height: 100vh;
	left: -100%;
	transition: all 2s;

}
nav ul li
{
	display: block;
	text-align: center;
}
nav ul li a
{
	color: black;
	font-weight: 500;
}
nav ul li a:hover
{
	text-decoration: underline;
}
nav .icon
{
display: block;
position: absolute;
right: 20px;
}
#checkbtn:checked ~ ul
{
left: 0px;
}
.btnav
{
	display: none;
}
}
/* @media only screen and (min-width :421px;) and (max-width: 900px;)
{

} */


/*section 2 start*/
#section2
{
background-image: url("../image/slider-1.jpg");
height:calc(100vh - 50px);
width: 100%;
background-repeat:no-repeat;
background-size: cover;
}
#section2 h2
{
	color: white;
	font-size: 50px;
}
#section2 p
{
	color: white;
	width: 500px;
}
.btn
{
	text-decoration: none;
	border-radius: 25px;
	color: #ffb321;
	background-color: transparent;
	font-weight:bold;
	border: 2px solid #ffb321;
}
.btn:hover
{
	background-color: #ffb321;
	color: black;	 
}
.contnt
{
	display: flex;
	align-items: center;
	height: calc(100vh - 80px);
	}


	/*section 3 part*/
	#section3 marquee
{
         padding:15px  0px; 
        color:white;
        background-color:#131313;
        height: 50px;
	}
	.in
	{
	text-align: right;
	background-color: #ffb321 ;
	color:white;
	height: 50px;
	}
#section3 h4
{
	line-height: 50px;
}
.newsbox
{
    padding:5px 7px; 
    color:white;
}


/* section 4 start */
#section4
{
 padding:80px 0px;;
}
.box
{
position: relative;
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}
#section4 .content
{
    background-color:rgba(0, 0, 0, 0.486);
    height: 300px;
    padding:25px;
}
#section4 h3
{
color: white;
font-size: 18px;
}
#section4 p
{
color: gray;
font-size: 12px;
}
#section4 .innerContent
{
    position: absolute;
    bottom:20px;
}
.fas
{
	margin-right: 5px;
}


/* section 5 start */
#section5
{
    padding:100px 0px;
    background-image: url("../image/section5 bg img.png");
    background-color: #EEF2F6;
     background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   }

#section5 h1
{
    padding-bottom:50px;
}

#section5 .box
{
    background-color: white;
    /* border:1px solid rgb(219, 219, 219); */
   width:75%;
   height:350px;
   position:relative;
   border: 2px solid #E4CDA7;
   margin-left: 0px;
}
#section5 .boxs5

{
position: absolute;
/* padding: 5px 10px;
top: 20px;
left: 20px; */
color: white;

}
#section5 .box h3
{
    font-size: 18px;
    padding:5px 10px;
}
#section5 .box p
{
    font-size: 11px;
    padding:3px 10px;
    color:gray ;
}


/* section 6 start */

 #section6 
{
    padding:100px 0px;
    background-image: url("../image/pattern.png");
}
.s6s
{
    color:rgba(245, 245, 245, 0.52);
}

#section6 .row .box6
{
    background-color: #252525;
}
#section6 .premium
{
    padding:10px 20px;
    background-color:#FFB320 ;
    display: inline-block;
    margin-bottom: 20px;
    color:#131313 ;
}
#section6 .row .row p
{
    color:white;
	text-align: left;
	line-height: 20px;
	font-size: 14px;
}

#section6 .row .col-lg-6
{
    margin:10px 0px;
}

#section6 .container #tp
{
    background-color: #fb6e10;
    font-size: 15px;
    display: inline-block;
    padding:10px 20px;
    color:white;
    margin-bottom: -22px;
} 
#section6 img 
{
	padding: 10px;
}

/* section 7 satrt */
#section7
{
	padding: 100px 0px;
	background-image: url("../image/section7-bg.png");
    background-color: #EEF2F6;
     background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position:right;
}
.circle
{
	 padding:15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top:-30px;
    left:20px;
    color:white;
    font-size: 18px;
    font-weight: 600;
}
.box7
{
    position: relative;
    text-align: center;
    border:1px solid rgb(219, 219, 219);

}
.box7 h3
{
    font-size: 20px;
    margin:20px 0px;
}
.box7 p
{
    font-size: 15px;
}
#section7 h1
{
    margin-bottom: 80px;
}

/* section 8 start */
#section8 
{
    padding:100px 0px;
    background-image: url("../image/pattern.png");
    height: 685px;
}
#section8 .box8
{
    background-color: #252525;
    padding:40px 20px;
}
#section8 h3
{
	color: white;
	margin-bottom: 30px;
}
#section8 p
{
	margin-bottom: 0px;
	text-align: left;
	line-height: 20px;
}
#section8 .para
{
	font-size: 12px;
}

#section8 .box8 .row
{
	padding: 10px 0px;
}

.yellow
{
	color: #FFB321;
}


/* section 9 start*/

#section9
{
	background-color: #131313;
	height: 30px;
}
 p
{
	text-align: center;
	color: white;
	line-height: 30px;
}